$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_nav_close: "\e90e";
$icon_ellipse: "\e90f";
$icon_arrow_left: "\e90b";
$icon_arrow_right: "\e90c";
$icon_arrow_bottom: "\e900";
$icon_arrow_top: "\e90d";
$icon_close: "\e901";
$icon_plus: "\e902";
$icon_car: "\e903";
$icon_hand: "\e904";
$icon_info: "\e905";
$icon_man: "\e906";
$icon_phone: "\e907";
$icon_quotes: "\e908";
$icon_telegram: "\e909";
$icon_whatsapp: "\e90a";

