.decoration {
    .section__desc,
    .section__title {
        @media (min-width: 768px) {
            text-align: left;
        }
    }

    @media (min-width: 768px) {
        padding-top: 6.875em;
        padding-bottom: 9.375em;
        background-color: $color_primary_bg;

    }

    &__row {
        margin-bottom: 1.875em;
        @media (min-width: 768px) {
            margin-bottom: 3.125em;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -6.25em;

            width: 81.25em;

            .decoration__img {
                height: 35.625em;
            }

            &:nth-child(2n) {
                margin-left: 0;
                flex-direction: row-reverse;
                width: 82.5em;

                .decoration__img {
                    height: 17.8125em;

                }
            }
        }

    }

    &__img {
        width: 100%;
        height: 11.25em;
        margin-bottom: 1.875em;
        /* 30/16 */

        @media (min-width: 768px) {
            margin-bottom: 0;
            flex: none;
            width: 41.875em;

        }
    }

    &__content {
        @media (min-width: 768px) {
            flex: none;
            width: 35em;
        }
    }

}
