.developer {
    .section__desc {
        @media (min-width: 501px) {
            width: 50em;
            margin: 0 auto;
        }
    }

    @media (min-width: 501px) {
        padding-bottom: 7em;
    }

    &__flag {
        @media (min-width: 501px) {
            width: 1.875em;
            height: 1.875em;
            margin: 0 auto 1.875em;

        }
    }

    &__top {
        margin-bottom: 2em;
        @media (min-width: 501px) {
            margin-bottom: 6em;

        }
    }

    &__list {
        margin: 1.5625em 0 0;
        display: flex;
        justify-content: space-between;
        text-align: center;
        @media (min-width: 501px) {
            margin: 2.5em auto 0;
            width: 56.25em;
        }
    }

    &__item {}

    &__number {
        span {
            font-weight: 300;
            color: $color_info;
            font-size: 2.5em;
            @media (min-width: 501px) {
                font-size: 5.625em;

            }
        }
    }

    &__desc {
        line-height: 1;
        @media (min-width: 501px) {
            line-height: 1.334;

        }

        span {
            font-size: 0.75em;
            @media (min-width: 501px) {
                font-size: 1.125em;

            }
        }
    }

    &__bottom {

        position: relative;
        border-top: 0.0625em solid rgba(114, 132, 150, 0.15);
        padding-top: 4.375em;
        @media (min-width: 501px) {
            padding-top: 11.25em;

        }

        &:before {
            content: '\e908';
            font-family: 'icon';
            position: absolute;
            color: $color_info;
            font-size: 1.1em;
            top: 1.75em;
            left: 50%;
            transform: translateX(-50%);
            @media (min-width: 501px) {
                top: 0.75em;
                font-size: 2.375em;
                left: 0;
                transform: none;

            }
        }
    }

    &__content {
        line-height: 1.25;
        margin-bottom: 1.5625em;
        text-align: center;
        @media (min-width:768px) {
            line-height: 1.487;
            width: 40.625em;
            margin: 0 3.125em 0 auto;
            text-align: left;
        }

        span {
            font-size: 0.875em;
            @media (min-width: 501px) {
                font-size: 1.5em;

            }
        }

    }

}

.founder {
    @media (min-width: 501px) {
        width: 40.625em;
        margin: 0 3.125em 0 auto;
    }

    &__img {

        width: 40.3125em;
        height: 40.3125em;
        font-size: 0.28684em;
        margin: 0 auto;

        @media (min-width: 501px) {
            font-size: 1em;
            margin: 0;
            position: absolute;
            bottom: -7em;
            left: -6em;

        }
    }

    &__content {

        @media (min-width: 501px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        text-align: center;
        @media (min-width: 501px) {
            text-align: left;
        }
    }

    &__name {
        @media (min-width: 501px) {
            margin-bottom: 0.4375em;
        }

        span {
            font-weight: 600;
            font-size: 0.875em;
            @media (min-width: 501px) {
                font-size: 1.5em;
            }
        }
    }

    &__desc {
        span {
            font-size: 0.625em;
            @media (min-width: 501px) {
                font-size: 0.75em;
            }
        }
    }

    &__caption {
        position: relative;
        width: 10.625em;
        height: 9.875em;
        font-size: 0.4706em;
        margin: 1.25em auto 0;
        @media (min-width: 501px) {
            margin: 0;
            font-size: 1em;
        }
    }

    &__pen {
        position: absolute;
        bottom: 4.6875em;
        left: 9em;
        width: 13.9375em;
        height: 23.9375em;

    }

}
