.presentation {
    overflow: hidden;

    .section__desc {
        @media (min-width: 501px) {
            width: 50em;
            margin: 0 auto;
        }
    }

    &__slider {

        @media (max-width: 500px) {
            margin-top: 2.875em;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 48.25em;

        }

        @media (min-width: 501px) {
            width: 138.125em;
        }
    }

    &__img {
        width: 15.75em;
        height: 8.75em;

        @media (min-width: 501px) {
            width: 22.5em;
            height: 12.5em;

        }
    }

}
