.callback {
    &__toggle {
        cursor: pointer;
        position: fixed;
        z-index: 10;
        transform: scale(0);
        transition: 0.3s;

        font-size: 0.75em;
        bottom: 2em;
        right: 2em;

        @media (min-width: 501px) {
            font-size: 1em;
            bottom: 4em;
            right: 2em;
        }

        &.active {
            transform: scale(1);
        }
    }

    &__img {
        position: relative;
        flex: none;
        width: 3.75em;
        height: 3.75em;
        border-radius: 100%;
        font-size: 1.3334em;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0.125em;
            left: 0.125em;

            width: 0.75em;
            height: 0.75em;
            border-radius: 100%;

            background-color: #31C876;
            border: 0.125em solid #F7FAFD;
            animation: opacity 1.8s infinite linear;
        }

    }

    &__content {
        .callback__img {
            position: absolute;
            top: -2em;
            left: 50%;
            transform: translateX(-50%);
        }

        position: fixed;
        font-size: 0.75em;
        bottom: 1em;
        right: 1em;
        z-index: 10;

        background: $color_white;
        box-shadow: 0 25px 150px rgba(114, 132, 150, 0.2);
        border-radius: 1.25em;
        padding: 3.75em 1.25em 1.25em;
        text-align: center;

        transform: translateX(200%);
        transition: 0.3s;

        &.active {
            transform: translateX(0);
        }

        @media (min-width: 501px) {
            font-size: 1em;
            bottom: 4em;
            right: 2em;
        }

    }

    &__close {
        text-decoration: none;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        color: rgba(114, 132, 150, 0.5);

        &:hover {
            color: rgba(114, 132, 150, 1);
        }

        i {
            font-size: 0.875em;
        }
    }

    &__name {
        margin-bottom: 0.125em;

        span {
            font-weight: 600;
            font-size: 1.5em;
        }
    }

    &__info {
        margin-bottom: 1.375em;
        line-height: 1;

        span {
            font-size: 0.75em;
        }
    }

    &__social {
        background: $color_white;
        box-shadow: 0 25px 150px rgba(114, 132, 150, 0.2);
        border-radius: 1.25em;
        padding: 1em 1.5em;

        @media (min-width: 501px) {
            padding: 1.875em 2em 3.125em;

        }
    }

}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.25;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.25;
    }

}
