footer.footer
    .footer__content
        .footer__row
            .footer__col
                .logo
                    a.logo__link(href="/")
                        img(src="/img/logo_light.png", alt="alt")
            .footer__col
                ul.menu
                    .menu__col
                        li.menu__item
                            a.menu__link(href="#project") О проекте
                        li.menu__item
                            a.menu__link(href="#presentation") Презентация комплекса 
                        li.menu__item
                            a.menu__link(href="#advantage") Преимущества проекта
                        li.menu__item
                            a.menu__link(href="#apartments") Выбрать апартамент
                        li.menu__item
                            a.menu__link(href="#decoration") Внутренняя отделка
                    .menu__col
                        li.menu__item
                            a.menu__link(href="#payment") Беспроцентная рассрочка
                        li.menu__item
                            a.menu__link(href="#location") О локации
                        li.menu__item
                            a.menu__link(href="#developer") О застройщике
                        li.menu__item
                            a.menu__link(href="#news") Новости проекта

                .footer__action
                    a.btn.btn_mask.scroll_js(href="#loading") Скачать презентацию
                        .btn_img
                            img(src="../img/btn_mask.png", alt="alt")

                    a.btn.btn_info.scroll_js(href="#apartments") Выбрать квартиру

            .footer__col
                .social
                    a.social__link(href="#")

                        .social__number 
                            span + 38 099 123 45 67
                        .social__label 
                            span бесплатная консультация по проекту

                    a.social__link(href="#")
                        i.icon_telegram

                    a.social__link(href="#")
                        i.icon_whatsapp
                .licence
                    span Licence N 1234567890
