header.header
    .header__content
        .header__row
            .header__col
                .logo
                    a.logo__link(href="/")
                        img(src="/img/logo.png", alt="alt")

            .header__col
                .social
                    a.social__link(href="#")
                        i.icon_phone.mobile
                        .social__number.desktop 
                            span + 38 099 123 45 67
                        .social__label.desktop 
                            span бесплатная консультация по проекту

                    a.social__link(href="#")
                        i.icon_telegram

                    a.social__link(href="#")
                        i.icon_whatsapp

            .header__col

                .hamburger
                    .hamburger__icon
                    .hamburger__label.desktop 
                        span меню

                .switch.desktop 
                    label.switch__label
                        input(type="checkbox" id="themeCheckbox" name="themeCheckbox")
                        span
                            i
    .header__nav
        .logo.mobile
            a.logo__link(href="/")
                img(src="/img/logo.png", alt="alt")
        ul.menu
            li.menu__item
                a.menu__link(href="#project") О проекте
            li.menu__item
                a.menu__link(href="#presentation") Презентация комплекса 
            li.menu__item
                a.menu__link(href="#advantage") Преимущества проекта
            li.menu__item
                a.menu__link(href="#apartments") Выбрать апартамент
            li.menu__item
                a.menu__link(href="#decoration") Внутренняя отделка
            li.menu__item
                a.menu__link(href="#payment") Беспроцентная рассрочка
            li.menu__item
                a.menu__link(href="#location") О локации
            li.menu__item
                a.menu__link(href="#developer") О застройщике
            li.menu__item
                a.menu__link(href="#news") Новости проекта


        .header__action.mobile
            a.btn.btn_mask(href="#") Скачать презентацию
                .btn_img
                    img(src="../img/btn_mask.png", alt="alt")

            a.btn.btn_info(href="#") Выбрать квартиру


        .social.mobile
            a.social__link(href="#")
                i.icon_telegram

            a.social__link(href="#")
                i.icon_whatsapp

            a.social__link(href="#")
                .social__number 
                    span + 38 099 123 45 67
                .social__label 
                    span бесплатная консультация по проекту
