extends layout/layout.pug

block content

    // begin project (style="background-image: url('../img/project.webp')")
    section#project.project.section
        .container_center
            h1.section__title
                span.desktop Название жилого комплекса
                span.mobile Название<br> жилого комплекса
            .section__desc
                p Короткое описание с подчеркиванием одного или двух ключевых преимуществ.<br> Дополнительное описание красоты неувядаемой архитектуры
            .project__list
                .project__item
                    span IV 2024
                .project__item
                    span от 2 555 000 AED
                .project__item
                    a(href="#") Business Bay

        .project__img.img
            a.btn.btn_mask(href="#") Скачать презентацию
                .btn_img
                    img(src="../img/btn_mask.png", alt="alt")

            img(src="../img/project.webp", alt="alt")


    // end project

    // begin presentation
    section#presentation.presentation.section
        .container_center
            h2.section__title
                span.desktop Заголовок номер два<br> раскрывающий суть концепции
                span.mobile Заголовок номер<br> два раскрывающий<br> суть концепции
            .section__desc
                p Элитная недвижимость в Дубаи — это возможность приобрести действительно<br> эксклюзивное жилье, которое станет настоящим украшением вашего дома или офиса.<br> Вы сможете любоваться видами на море, находясь при этом в тишине и покое. Находясь<br> в центре Дубая, вы имеете доступ ко всем необходимым для комфортной жизни<br> услугам, включая рестораны, магазины, развлекательные центры и многое другое.
                p Все элитные дома в Дубае отличаются безупречным качеством,<br> а также высоким уровнем комфорта.
        .presentation__slider
            .swiper.presentation_swiper_js.itemForDataFancybox_js

                .swiper-label.desktop
                    span тяните

                .swiper-wrapper
                    each item in [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]
                        .swiper-slide
                            .presentation__img.img
                                a(href="../img/slide_big_"+item+".jpg" data-fancybox data-type="image")
                                    img(src="../img/slide_"+item+".jpg" loading="lazy" alt="img")

                .swiper-label.mobile
                    span тяните


    // end presentation

    //- // begin loading
    //- section#loading.loading.section
    //-     .container_center
    //-         .loading__wrap
    //-             h2.section__title
    //-                 span.desktop Скачайте подробную<br> презентацию жилого<br> комплекса «Название<br> комплекса»
    //-                 span.mobile Скачайте подробную<br> презентацию жилого<br> комплекса «Название<br> комплекса»
    //-             .loading__content
    //-                 .loading__label
    //-                     span Вся информация о проекте в одном файле:
    //-                 .loading__list
    //-                     each item in ['Полный набор актуальный планировок и цен', 'Описание концепции и истории создания', 'Расчёт инвестиционной привлекательности', 'Особенности комплекса и уникальные преимущества']
    //-                         .loading__item
    //-                             span=item
    //- 
    //-                 //- .loading__img.img
    //-                 //-     img(src="../img/loading.webp", alt="alt")
    //- 
    //-                 .loading__form
    //- 
    //-                     // begin form
    //-                     .form__content   
    //-                         form.form(action="send.php")
    //-                             input(type="hidden" name="subject" value="форма в футоре")
    //-                             input(type="hidden" name="notspam" value="")
    //- 
    //-                             .form__row
    //-                                 input(type="text", required placeholder="Имя")
    //-                             .form__row
    //-                                 input(type="text", required placeholder="+7")
    //- 
    //-                             .form__row
    //-                                 .button
    //-                                     button.btn.btn_mask(type="submit") Скачать презентацию
    //-                                         .btn_img
    //-                                             img(src="../img/btn_mask.png", alt="alt")
    //-                             .form__row
    //-                                 span.form__text Нажимая на кнопку вы соглашаетесь с условиями обработки данных и политикой конфиденциальности
    //- 
    //-                     // end form
    //- 
    //- 
    //- 
    //- 
    //- // end loading

    // begin testButton
    //- section#testButton.testButton.section
    //-     .container_center
    //-         h2.section__title 
    //-             span testButton
    //-         .testButton__content
    //-             a.btn(href="#") Получить консультацию
    //-             br
    //-             br
    //-             a.btn.btn_info(href="#") Выбрать квартиру
    //-             br
    //-             br
    //-             a.btn.btn_mask(href="#") Скачать презентацию
    //-                 .btn_img
    //-                     img(src="../img/btn_mask.png", alt="alt")
    //-             br
    //-             br
    //-             a.btn(href="#")  Выбрать квартиру
    //-             br
    //-             br
    //-             a.btn(href="#") Выбрать квартиру
    //-             br
    //-             br
    //-             a.btn(href="#") Выбрать квартиру

    // end testButton


    // begin form
    //- section#form.form.section
    //-     .container_center
    //-         .form__content
    //-             h1.form__title Подать заявку на лизинг
    //-             i.icon_close    
    //-             form.form.form_grid(action="send.php")
    //-                 //- из какой формы на сайте
    //-                 input(type="hidden" name="subject" value="форма в футоре")
    //-                 //- проверка спама
    //-                 input(type="hidden" name="notspam" value="")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Предмет лизинга*")
    //-                 .form__row
    //-                     input(type="number", placeholder="ИНН")
    //-                 .form__row
    //-                     input(type="number", placeholder="Стоимость")
    //-                 .form__row
    //-                     input(type="text", placeholder="Контактное лицо")
    //-                 .form__row
    //-                     input(type="number", placeholder="Колличество")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Телефон*")
    //-                 .form__row
    //-                     input(type="number", placeholder="Аванс")
    //-                 .form__label
    //-                 .form__row
    //-                     select.select(data-placeholder="Выбор")
    //-                         option(value="")
    //-                         option(value="Значение 1") Значение 1
    //-                         option(value="Значение 2") Значение 2
    //-                         option(value="Значение 3") Значение 3
    //-                         option(value="Значение 4") Значение 4
    //-                 .form__row
    //-                     input(type="email", placeholder="E-mail")
    //-                 .form__row
    //-                     input(type="text", placeholder="Местонахождение")
    //-                 .form__row.form__row_full
    //-                     textarea(type="text", placeholder="Дополнительная информация")
    //-                 .form__row.form__row_full
    //-                     .form__grup
    //-                         label.form__check
    //-                             input(type="radio" name="test" checked="checked" value="test")
    //-                             span radio 1
    //-                         label.form__check
    //-                             input(type="radio" name="test" value="test_2")
    //-                             span radio 2
    //- 
    //-                 .form__row
    //-                     span.form__text Поля, помеченные *, обязательны к заполнения
    //-                 .form__row
    //-                     .button
    //-                         button.btn#btn_didisabled_js(type="submit") Отправить
    //-                 .form__row.form__row_full
    //-                     .form__privacy
    //-                         label.form__check
    //-                             input#check_checked(type="checkbox" checked="checked")
    //-                             span Прочитал(-а) Пользовательское соглашение и соглашаюсь с <a href="#" target="_blank">политикой обработки персональных данных</a>
    // end form
    // Button trigger modal info
    //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#info") Click to open modal
    // Begin Modal info
    //- .modal.fade.info#info
    //-     .modal-dialog
    //-         .modal-content
    //-             a(href="#" class="modal-close" data-dismiss="modal")
    //-             .form__message
    // End modal info


    // begin programsInfo
    //- section.section
    //-     .container_center
    //-         .programsInfo
    //-             each item in [{num: '12', text: 'Программ'},{num: '25', text: 'Компетенций'},{num: '29', text: 'Преподавателей <br>и экспертов'}]
    //-                 .programsInfo__item
    //-                     .programsInfo__number=item.num
    //-                     .programsInfo__text!=item.text


    // end programsInfo
